@import 'css3-sass-mixins/all';

$scrollbar-margin: 8;
$scrollbar-size: 6;

$width: 500px;
$message-margin: 40px;

$bg-color: #fdf6e3;
$color: #494949;
$light-color: #dddddd;	// fixme
$link-color: #d33682;
$local-color: #494949;
$remote-color: #629899;
$quote-color: #cb4b16;
$retort-color: #b58900;
$quote-inactive-color: #93a1a1;
$border: 1px solid + " " + $color;

$quote-button-size: 17px;

$bottom-padding: 50px;

/* --- */

.table-root {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

.table-scrollbar {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: $scrollbar-margin;
}

.table-scrollbar-point-top, .table-scrollbar-point-bottom {
	position: absolute;
	background-color: $light-color;
	width: 6px;
	height: 6px;
	left: 0px;

	-moz-transition-property: width, height, margin-left, margin-top;
	-moz-transition-duration: 200ms;
	-moz-transition-timing-function: ease-in-out;

	-webkit-transition-property: width, height, margin-left, margin-top;
	-webkit-transition-duration: 200ms;
	-webkit-transition-timing-function: ease-in-out;

	@include border-radius(3px);
}

.table-scrollbar-point-bottom {
	margin-top: -6px;
}

.table-scrollbar-point-visible {
	width: 6px;
	height: 6px;
}

.table-scrollbar-point-hidden {
	width: 0px;
	height: 0px;
}

.table-scroll {
	position: absolute;
	overflow: scroll;
	top: 0px;
	left: 0px;
	right: -16px;
	bottom: -16px;
	border: 0px;
	padding: 0px;
}

.table-padding {
	width: 100%;
}

.table-content {
	/* we need scale(1) so webkit redraws properly; never
	wanna hear IE bashing from webkit fanbois ever again */
	-webkit-transform: scale(1);
	width: 100%;
	overflow: hidden;
}

.table-row {
	width: 100%;
	height: 0px;
}

/* --- */

@mixin base-text {
	color: $color;
	width: $width;
	line-height: 18px;
	font-family: Helvetica;
	font-size: 14px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
	overflow: hidden;
}

@mixin base {
	@include base-text;
	position: absolute;
}

@mixin padding {
	padding-top: 5px;
	padding-bottom: 5px;
}

@mixin center {
	left: 50%;
	margin-left: $width / -2;
}

@mixin fill {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	right: 0px;
}

@mixin unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* --- */

body {
	background-color: $bg-color;
	position: absolute;
}

a {
	text-decoration: none;
	color: $link-color;
}

.fill {
	@include fill;
}

.fill-width {
	position: absolute;
	width: 100%;
}

.main {
	@include fill;
	opacity: 1;
	top: 100%;
}

.quote-overlay {
	@include fill;

	visibility: hidden;
	opacity: 0;
}

.message {
	@include base;

	left: 0px;
	left: $message-margin;
	height: 100%;
}

.message-overlay {
	@include base;
	@include padding;
	@include center;

	margin-left: -$width / 2 + $message-margin;

	bottom: $bottom-padding;
}

.quote-button {
	position: absolute;
	cursor: pointer;
	width: $quote-button-size;
	height: $quote-button-size;
	top: 50%;
	margin-top: $quote-button-size / -2 - 4; 	// line-height / 4
	left: ($message-margin - $quote-button-size) / 2;
	background-image: url(quote.png);
	visibility: hidden;
}

.shadow {
	@include base;
	@include padding;

	top: 1000%;
}

.chat-table {
	@include base;
	@include center;

	top: 0px;
	width: $width + $message-margin;
}

.quote-table {
	@include base;
	@include center;

	top: 0px;
	width: $width + $message-margin;

	margin-left: -$width / 2 + $message-margin;
}

.chat-input {
	@include base;
	@include center;
	@include padding;

	margin-left: -$width / 2 + $message-margin;

	color: $local-color;

	bottom: $bottom-padding;
	border-top: $border;
	background-color: transparent;
	resize: none;
}

/* --- */

.local-message {
	color: $local-color;
}

.remote-message {
	color: $remote-color;
}

.quote-text {
	@include base;
	@include transition(color 200ms ease-in-out);
}

.quote-text-inactive {
	color: $quote-inactive-color;
}

.quote-text-unselectable {
	@include unselectable;
}

.quote-marker {
	@include base;
}

.retort-input {
	@include base;

	background-color: transparent;
	resize: none;
	height: 38px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.quote-shadow {
	@include base;

	top: 1000%;
}

.quote-row {
	@include base-text;

	color: $quote-color;
	width: 100%;
	height: 0px;
}

.retort-row {
	@include base-text;

	color: $retort-color;
	width: 100%;
	height: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* --- */

@mixin base-label {
	font-size: 48px;
	line-height: 56px;

	position: absolute;
	top: 50%;
}

@mixin label {
	@include base-label;

	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;
	// font-family: Arial;
	color: #b3b3b3;
	height: 56px;
}

@mixin number {
	@include base-label;

	font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:500; font-stretch:normal;
	// font-family: Arial;
	color: #666666;

	left: 162px;
	height: 56px;
}

body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.left-column {
	position: absolute;
	// background-color: #aaaaaa;
	top: 0px;
	height: 100%;
	left: 0px;
	width: 100px;
}

.right-column {
	position: absolute;
	left: 33%;
	top: 0px;
	height: 100%;
	right: 0px;
}

.divider {
	position: absolute;
	background-color: #cccccc;
	top: 50%;
	height: 1px;
	left: 0px;
	right: 0px;
}

.label1 {
	@include label;
	margin-top: -64px;
}

.label2 {
	@include label;
	margin-top: 6px;
}

.number1 {
	@include number;
	margin-top: -64px;
}

.number2 {
	@include number;
	background-color: transparent;
	margin: 0px;
	padding: 0px;
	margin-top: 6px;
	border: 0px;
	outline: none;
}

.button-container {
	cursor: pointer;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
	right: 22px;
}

.button-container-up {
	cursor: pointer;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50%;
	margin-left: -$width / 2 + $message-margin - 25px;
	top: 0px;
}

.button-background {
	background-image: url(help.png);
	position: absolute;
	width: 36px;
	height: 24px;
	top: 50%;
	margin-top: -11px;
	right: 0px;
}

.button-background-up {
	background-image: url(help-up.png);
	position: absolute;
	width: 24px;
	height: 36px;
	bottom: 0px;
	margin-left: -12px;
	left: 50%;
}

.button-text {
	background-image: url(help-text.png);
	position: absolute;
	width: 12px;
	height: 20px;
	top: 50%;
	margin-top: -9px;
	right: 18px;
}

.button-text-up {
	background-image: url(help-text.png);
	position: absolute;
	width: 12px;
	height: 20px;
	top: 50%;
	left: 50%;
	margin-bottom: -12px;
	margin-left: -6px;
}

.help {
	@include label;

	color: $local-color;

	font-size: 12px;
	line-height: 15px;

	top: 50%;
	right: 100px;
	width: 280px;

	text-align: justify;
	margin-top: -72px;
}

.quote-help {
	@include label;

	color: $local-color;

	font-size: 12px;
	line-height: 15px;

	top: 72px;
	left: 50%;
	width: 280px;
	margin-left: -$width / 2 + $message-margin;

	text-align: justify;
}

.quote-help-container {
	position: absolute;
	width: 100%;
	height: 500px;
	bottom: -428px;
}
